<div class="menu">
    <span>Sort by: </span>
    <button (click)="sortData('newest')">Newest</button>
    <button (click)="sortData('oldest')">Oldest</button>
</div>

<div class="entry">
     <div class="entry-box" *ngFor="let dat of data">
      <img (click)="expandImage($event)" src="assets/img/content/{{ dat.img }}" id="{{ dat.id }}" class="entry-box_background" alt="">
      <h2 class="entry-box_title">
        {{ dat.title }}
      </h2>
      <p class="entry-box_date">
        {{ dat.date }}    
      </p>
      <span class="tags" *ngFor="let tag of dat.tags">
        {{ tag }}
      </span>
    </div>
  </div>