.entry {
    width:69%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &-box {
        position: relative;
        width: 250px;
        height: 250px;
        background-color: rgb(185, 31, 108);
        color: white;
        cursor: pointer;
        transition: all 0.2s;
        overflow: hidden;
        display: flex;
        box-sizing: border-box;
        transition: all 0.3s;

        &_background {
            width: 250px;
            object-fit: cover;
            transition: all 0.3s;
            &:hover {
                opacity: 0.3;
                filter: grayscale(100%);
            }
        }

        &_date {
            position: absolute;
            bottom: 0px;
            right: 0px;
            background-color: rgb(185, 31, 108);
            padding-left: 3px;
            padding-right: 3px;
            margin: 0px;
        }

        &_title {
            position: absolute;
            top: 5px;
            left: 5px;
        }    
    }


    .entry-box_tag {
        width: 90px;
        background-color: rgb(109, 177, 154);
        border-radius: 3px;
        margin: 2px;
        text-align: center;
        padding: 4px;
    }
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
}

button {
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(185, 31, 108);
    color: white;
}

.menu {
    text-align: center;

    span {
        color: white;   
    }
}
